html{
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height:100%;
    margin: 0%;
    padding: 0%;
    position: relative;
    background-image: url(../_img/fondo.jpg.png);
    /*background-blend-mode: difference;*/
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    background-attachment: fixed;
}
/*
.navbar {
    overflow: hidden;
    margin-bottom: 1%;
}
*/
.navbar a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    margin: 0.2vw;
    padding: 0.2wv;
    border-radius: 5px;
    display: list-item;
   
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    box-shadow: 0 0 10px 0.5px;
}


.navbar a.active {
    background-color: #290c0c;
    color: white;
}
figure{
    overflow: hidden;

}
/*
label{
    display: inline-block;
    width: 100px;
}*/

.container {
    
    background: rgba(255,255,255,0.8);
    border-radius: 1vw;
    margin-top: 3vw;
    padding: 4vw;
    height: 90vw;
    line-height: 3vw;
}

li{
    padding: 0 2vw;
    margin: 0 1vw;
}

#titulo{
    position: relative;
    background-image: linear-gradient(45deg,#000000,#ffc107,#000000);
    width: 90vw;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 5vw;
    top: 1%;
    
}
#logotitulo{
    height: 12vw;
}
.dropdown-menu{
    /*background-color: #343a40;*/
    background-color: #000000;
}
p{
    
    size: 30vw;
}
#mecanicaautomotriz{
     height:20vw;
}
#trabajoalturas{
     height:20vw;
}
/*
//#ffc107 //amarillo
//#09B288 //cyan
//#E700FF //magenta*/